
<div class="word-form">

  <form *ngIf="wordForm && word" [formGroup]="wordForm" (ngSubmit)="validateForm(form)" novalidate>
  <!-- (ngSubmit)="updateOrCreateWord(form)" novalidate> -->
    <div class="alert" *ngIf="showValidationMessage">{{ validationMessage }}</div>

    <div *ngIf="param" class="word-text">{{word.text}}</div>
    <div *ngIf="!param">
      <label [for]="textBox">word</label>
      <input #textBox formControlName="text" required />
      <input type="hidden" formControlName="id" />
    </div>

    <!++ Lexical Entry ++>
    <div>
      <h1>Lexical Entry</h1>

      <!++ Pronunciation ++>
      <div formArrayName="pronunciations">
        <h2 class="title">Pronunciation
          <i class="fa fa-plus" aria-hidden="true" (click)="addPronunciationGroup()"><span>add pronunciation</span></i>
        </h2>
        <div class="group-holder" *ngFor="let p of wordForm.controls.pronunciations.controls; let i=index">
          <div [formGroupName]="i">
            <div class="control-holder" *ngIf="p.contains('phoneticSpelling')">
              <!-- <div class="alert" *ngIf="formErrors.phoneticSpelling">{{ formErrors.phoneticSpelling }}</div> -->
              <label for="phoneticSpellingBox">phonetic spelling</label>
              <input #phoneticSpellingBox formControlName="phoneticSpelling" placeholder="phonetic spelling" required />
              <i class="fa fa-trash-o" aria-hidden="true" (click)="deletePhoneticSpellingControl(i)"><span>delete phonetic spelling {{i+1}}</span></i>
            </div>
            <div class="control-holder" *ngIf="p.contains('audioFile')">
              <label for="audioFileBox">audio file</label>
              <input #audioFileBox formControlName="audioFile" placeholder="audio file" />
              <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteAudioFileControl(i)"><span>delete audio file {{i+1}}</span></i>
            </div>
          </div>
        </div>
      </div>

      <div formArrayName="entries">
        <h2 class="title">Entry
          <i class="fa fa-plus" aria-hidden="true" (click)="addEntryGroup()"><span>add entry</span></i>
        </h2>
        <div class="group-holder" *ngFor="let e of wordForm.controls.entries.controls; let i=index">
          <div [formGroupName]="i">

            <!++ Lexical Gategory ++>
            <div class="control-holder" *ngIf="e.contains('lexicalCategory')">
              <!-- <div class="alert" *ngIf="formErrors.lexicalCategory">{{ formErrors.lexicalCategory }}</div> -->
              <label for="lexicalCategoryBox">lexical category</label>
              <select #lexicalCategoryBox formControlName="lexicalCategory" required>
                <option *ngFor="let lc of lexicalCategories" [value]="lc">{{lc}}</option>
              </select>
              <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEntryGroup(i)"><span>delete entry {{i+1}}</span></i>
            </div>

            <!++ Sense ++>
            <div formArrayName="senses">
              <h2 class="title">Sense
                <i class="fa fa-plus" aria-hidden="true" (click)="addSenseGroup(i)"><span>add sense</span></i>
              </h2>
              <div class="group-holder" *ngFor="let s of e.controls.senses.controls; let j=index">
                <div class="sense-container" [formGroupName]="j">
                  <span class="number">{{j + 1}})</span>
                  <div class="control-holder" *ngIf="s.contains('definition')">
                    <!-- <div class="alert" *ngIf="formErrors.definition">{{ formErrors.definition }}</div> -->
                    <label for="definitionBox">definition</label>
                    <textarea #definitionBox formControlName="definition"  placeholder="definition" required ></textarea>
                    <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteDefinitionControl(i,j)"><span>delete definition {{j+1}}</span></i>
                  </div>
                  <div class="control-holder" *ngIf="s.contains('example')">
                    <label for="exampleBox">example</label>
                    <textarea #exampleBox formControlName="example" placeholder="example" ></textarea>
                    <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteExampleControl(i,j)"><span>delete example {{j+1}}</span></i>
                  </div>
                </div>
              </div>
            </div>

            <!++ Etymologies ++>
            <div formArrayName="etymologies">
              <h2 class="title">Etymology
                <i class="fa fa-plus" aria-hidden="true" (click)="addEtymologyControl(i)"><span>add etymology</span></i>
              </h2>
              <div class="control-holder" *ngFor="let et of e.controls.etymologies.controls; let j=index">
                <label for="etymologyBox">etymology</label>
                <textarea #etymologyBox [formControlName]="j" placeholder="etymology" ></textarea>
                <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEtymologyControl(i,j)"><span>delete etymology {{j+1}}</span></i>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <!++ End of Lexical Entry ++>
<!-- [disabled]="!wordForm.valid" -->
    <button class="button" >Submit</button>
    <div class="button" (click)="deleteWord()">Delete</div>

  </form>

<div *ngIf="wordForm">
  {{ wordForm.value | json }}
  {{ wordForm.status }}
  <!-- {{ word|json}} -->
</div>

</div>
